<div id="header">     
  <header>      
    <div class="logo">
      <img src="../assets/images/logo_xivo-cc.png" />      
    </div> 
  </header>   
</div>
<div id="main" ng-controller="AppsController">
  <ul class="flex-container" >      
    <li class="flex-item hvr-fade" ng-repeat="app in appList">  
    
      <img class="light"  ng-src="{{getLightImage(app)}}"
        popover-class={{popoverColor(app)}}
        animation="pop" 
        popover-append-to-body="true" popover-placement="top-left"
        uib-popover="{{getStatus(app)}}" popover-title="{{getHeader(app)}}" 
        popover-trigger="'mouseenter'" /> 
    
        <div class="item-fade" ng-click="open(app)">
      
        <img class="hover" ng-src="{{getHoverImage(app)}}" />
        <img class="active" ng-src="{{getActiveImage(app)}}" />
      </div>
      <div class="link-title">{{getHeadBandName(app)}}</div>        
    </li>
  </ul> 
</div>